<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Filters</title>
  </head>
  <body>
    <div>
      <p>Filter abs</p>
      <div>
        {% set numb = -5 %}
        {{ numb|abs }}
      </div>
      <hr style="border-top: 2px dotted black" />
    </div>
    <div>
      <p>Filter batch</p>
      <div>
        {% set items = ['a', 'b', 'c', 'd'] %}

        <table>
          {% for row in items|batch(3, 'No item') %}
            <tr>
              {% for column in row %}
                <td>{{ column }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </table>
      </div>
      <hr style="border-top: 2px dotted black" />
    </div>
    <div>
      <p>Filter capitalize</p>
      <div>{{ 'my first car'|capitalize }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
    <div>
      <p>Filter column</p>
      <div>
        {% set items = [{ fruit: 'apple' }, { fruit: 'orange' }] %}
        {% set fruits = items|column('fruit') %}
        {{ fruits }}
      </div>
      <hr style="border-top: 2px dotted black" />
    </div>
    <div>
      <p>Filter convert_encoding</p>
      <div>
        {% set data = 'ENCODING STRING ' %}
        {{ data|convert_encoding('UTF-8', 'cesu8') }}
      </div>
      <hr style="border-top: 2px dotted black" />
    </div>
    <div>
      <p>Filer country_name</p>
      <div>{{ 'FR'|country_name }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
    <div>
      <p>Filer currency_name</p>
      <div>{{ 'EUR'|currency_name }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
    <div>
      <p>Filer currency_symbol</p>
      <div>{{ 'EUR'|currency_symbol }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
    <div>
      <p>Filter data_uri</p>
      <p>{{ '<b>foobar</b>'|data_uri('text/html') }}</p>
      {# <p>{{ './newImage.png'|data_uri("text/html") }}</p> #}
      <hr style="border-top: 2px dotted black" />
    </div>
    <div>
      <p>Filer date</p>
      <div>{{ '20.12.2020'|date('F jS \\a\\t g:ia') }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
    <div>
      <p>Filer date_modify</p>
      <div>{{ '20.12.2020'|date_modify('+1 day') }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
    <div>
      <p>Filer default</p>
      <div>{{ var|default('var is not defined') }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
    <div>
      <p>Filer escape</p>
      <div>{{ "user"|escape }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
   <div>
        <p>
          Filter filter 
        </p>
        <div>
        {% set sizes = [34, 36, 38, 40, 42] %} 
        {{ sizes|filter(v => v > 38)|join(', ') }}
        </div>
        <div>
        {% for v in sizes|filter(v => v > 38) -%}
            {{ v }}
        {% endfor %}
        </div>
         <hr style="border-top: 2px dotted black" />
      </div>
    <div>
      <p>Filer first </p>
      <div>
	  {{ [1, 2, 3, 4]|first }}
	  {{ { a: 10, b: 2, c: 3, d: 4 }|first }}
	  </div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer format</p>
	  {% set foo = "hotel"  %}
      <div>{{ "I like %s and %s."|format(foo, "bar") }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer format_currency</p>
      <div>{{ '1000000'|format_currency('EUR') }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
        <p>
          Filter format_date
        </p>
        <p>{{ '2019-08-07'|format_date('short', 'none', 'fr') }}</p>
        <p>{{ '2019-08-07 '|format_date('full', 'full', 'fr') }}</p>
        <hr style="border-top: 2px dotted black" />
      </div>
	<div>
        <p>
          Filter format_datetime
        </p>
        <p>{{ '2019-08-07 23:39:12'|format_datetime() }}</p>
        <p>{{ '2019-08-07 23:39:12'|format_datetime('none', 'short', 'fr') }}</p>
        <p>{{ '2019-08-07 23:39:12'|format_datetime('short', 'none', 'fr') }}</p>
        <p>{{ '2019-08-07 23:39:12'|format_datetime('full', 'full', 'fr') }}</p>
        <hr style="border-top: 2px dotted black" />
    </div>
	<div>
        <p>
          Filter format_number
        </p>
        <p>{{ '12.345'|format_number }}</p>
        <p>{{ '12.345'|format_number({maximumFractionDigits: 2}) }}</p>
        <p>{{ '1000000'|format_number({minimumFractionDigits: 4}) }}</p>
        <hr style="border-top: 2px dotted black" />
      </div>
	<div>
        <p>
          Filter format_time
        </p>
        <p>{{ '2019-08-07 23:39:12'|format_datetime('none', 'short', 'fr') }}</p>
        <p>{{ '2019-08-07 23:39:12'|format_datetime('full', 'full', 'fr') }}</p>
         <hr style="border-top: 2px dotted black" />
      </div>
	<div>
        <p>
          Filter html_to_markdown
        </p>
        <p>{% apply html_to_markdown %}
            <html>
             <h1>Hello!</h1>
            </html>
            {% endapply %}
        </p>
        <p>
        {{ include('view/header.twig')|html_to_markdown }}
        </p>
         <hr style="border-top: 2px dotted black" />
      </div> 
	<div>
      <p>Filer inline_css</p>
      {# <div>{{ include('view/header.twig')|inline_css }}</div> #}
	  <h3>Dont work</h3>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer inky_to_html</p>
	  <h3>Dont work </h3>
	   {# <div>{{ include('view/header.twig')|inky_to_html }}</div> #}
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer join </p>
	   <div>{{ [1, 2, 3]|join('|') }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer  json_encode</p>
	   <div>{{ {name:"Vasya"}|json_encode() }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer keys</p>
	   <div>Dont work</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
        <p>
          Filter language_name
        </p>
        <p>{{ 'de'|language_name }}</p>
        <p>{{ 'de'|language_name('fr') }}</p>
        <p>{{ 'fr_CA'|language_name('fr_FR') }}</p>
        <hr style="border-top: 2px dotted black" />
      </div>
	<div>
      <p>Filer last</p>
	  <div>{{ [1, 2, 3, 4]|last }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer length</p>
	   <div>{{"users"|length}} </div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer locale_name </p>
	  <div>{{ 'de'|locale_name }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer lower </p>
	  <div>{{ 'WELCOME'|lower }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
        <p>
          Filter map
        </p>
        <div>
        {% set people = [
            {first: "Bob", last: "Smith"},
            {first: "Alice", last: "Dupond"},
        ] %}

        {{ people|map(p => `${p.first} ${p.last}`)|join(', ') }}
        </div>
		<hr style="border-top: 2px dotted black" />
	</div>
	<div>
        <p>Filter markdown_to_html </p>
        {% apply markdown_to_html %}
            # hello, markdown!
        {% endapply %}
        <hr style="border-top: 2px dotted black" />
      </div>
	<div>
      <p>Filer merge </p>
	  <div>
		{% set values = [1, 2] %}
		{% set values = values|merge(['apple', 'orange']) %}</div>
		{{values}}
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer  nl2br</p>
	  <div>{{ "I like Twig.\nYou will like it too."|nl2br }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer number_format </p>
	  <div>{{ 200.35|number_format }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer raw </p>
	  	{# <div>	{% autoescape %}
    				{{ var|raw }} 
				{% endautoescape %}
		</div> #}
		Dont work
      <hr style="border-top: 2px dotted black" />
    </div>
	 <div>
        <p>Filter reduce</p>
        <div>
            {% set numbers = [1, 2, 3] %}
            {{ numbers|reduce((carry, v) => carry + v) }}
        </div>
        <div>
            {{ numbers|reduce((carry, v) => carry + v, 10) }}
        </div>
        <hr style="border-top: 2px dotted black" />
      </div>
	<div>
      <p>Filer replace</p>
	  <div>{{ "I like %this% and %that%."|replace({'%this%': "fruit", '%that%': "oranges"}) }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer reverse </p>
	  <div>{% for key, value in {1: "a", 2: "b", 3: "c"}|reverse %}
    			{{ key }}: {{ value }}
			{%- endfor %}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer round  </p>
	  <div>{{ 42.55|round }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer slice  </p>
	  <div>{{ '12345'|slice(1, 2) }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer slug  </p>
	  <div>{{ 'Wôrķšƥáçè ~~sèťtïñğš~~'|slug }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer sort </p>
	  <div>{% set fruits = [
    		{ name: 'Apples', quantity: 5 },
    		{ name: 'Oranges', quantity: 2 },
    		{ name: 'Grapes', quantity: 4 },
			] %}

			{% for fruit in fruits|sort()|column('name') %}
    			{{ fruit }}
			{% endfor %}
		</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer spaceless </p>
	  <div>{{
    "<div>
        <strong>foo</strong>
    </div>
    "|spaceless }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
        <p>Filter timezone_name </p>
        <div>
            {{ 'Europe/Paris'|timezone_name }}
        </div>
        <div>
           {{ 'America/Los_Angeles'|timezone_name }}
        </div>
        <hr style="border-top: 2px dotted black" />
      </div>
	<div>
      <p>Filer title  </p>
	  <div>{{ 'my first car'|title }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer trim </p>
	  <div>{{ '  I like Twig.  '|trim }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer u </p>
	  Dont work
	  {# <div>{{ 'symfony_string with twig'|u.camel.title }}</div> #}
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer upper </p>
	  <div>{{ 'welcome'|upper }}</div>
      <hr style="border-top: 2px dotted black" />
    </div>
	<div>
      <p>Filer url_encode </p>
	  Dont work
	  {# <div>{{ {'param': 'value', 'foo': 'bar'}|url_encode }}</div> #}
      <hr style="border-top: 2px dotted black" />
    </div>
  </body>
</html>
