<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    {% block localstyles %}{% endblock %}
    {% block javascript %}

    {% endblock %}

</head>
<body>
<main>
{{ include("view/header.twig",{value:"NEW Value", cool:"Coool"},false)}}

{# {{ source("view/header.twig") }} #}
    <p>New temlate {{cool}} !</p>
    {# {{ constant("RSS","NEW CONSTANT")}} #}
   {# <p class="{{ html_classes('a-class', 'another-class') }}">How are you doing?</p>
   {# {{ constant("RSS") }} #}
   {# {{ [1,2,3,"anton","nastya"]|join }}
   {{ "StringTest"|convert_encoding('UTF-8', 'buf')}} #}
   {# {{ "path-seg*ment"|url_encode }} #}
   {# {{ 'FR'|country_name }}
   {{ 'EUR'|currency_name }}
   {{ 'JPY'|currency_name }} #}
   {# {{ './newImage.png'|data_uri }} #}
   {# {{ [1,2,34,5]|filter({{v=>v>5}})}}; #}
   {# {{ '12.345'|format_currency('EUR') }}
   {{ '12.345'|format_currency('EUR', {rounding_mode: 'floor'}) }} #}
   {# {{ '100000000'|format_currency('EUR', {fraction_digit: 3}) }}
   {{ '<b>foobar</b>'|data_uri }} #}
    {# {% set a = 1 %} #}
    {# {{ [1,2,3,4,5,6]|filter(a => a>2)}}; #}
    {{ '2019-08-07 23:39:12'|format_datetime() }}
   {{ include("view/header.twig",{value:"NEW Value", cool:"Coool"},false)|html_to_markdown }}
   {# {% apply inline_css %}
    <html>
        <head>
            <style>
                p { color: red; }
            </style>
        </head>
        <body>
            <p>Hello CSS!</p>
        </body>
    </html>
{% endapply %} #}

{# {{ 'fr'|language_name }}
{{ 'de'|language_name('fr') }}

{{ 'fr_CA'|language_name('fr_FR') }} 
<p>
{{ 'fr_CA'|locale_name('fr_FR') }}#}
{% set people = [
    {first:"Bob", last:"Smith"},
    {first:"Alic", last:"Dupond"},
]%} 
{{ people|map(p => `${p.first} ${p.last}`)|join(', ')}}
{# {{ people|map((value, key) => `${key} ${value}`) }} #}
</p>
</main>
</body>
</html>
